/* Colors are defined by theme file and can be referenced via @base, @text, @selected-text, and @border */

* {
  font-family: monospace;
  font-size: 16px;
}

window {
  margin: 0;
  padding: 0;
  background-color: @base;
}

#inner-box {
  margin: 0;
  padding: 0;
  border: none;
  background-color: @base;
}

#outer-box {
  margin: 0;
  padding: 10px 20px;
  border: none;
  background-color: @base;
}

#scroll {
  margin: 0;
  padding: 0;
  border: none;
  background-color: @base;
}

#input {
  margin: 0;
  margin-bottom: 2px;
  padding: 3px;
  border: none;
  background-color: @base;
  color: @text;
}

#input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

#text {
  margin: 0;
  padding: 0px 5px;
  border: none;
  color: @text;
}

#entry:selected {
  outline: none;
  border: none;
  background-color: alpha(@selected-text, 0.2);
}

#entry:selected #text {
  color: @selected-text;
}

@import ".config/omadora/current/theme/walker.css";
