[Unit]
Description=Omadora Battery Monitor Check
PartOf=omadora-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecCondition=%h/.local/share/omadora/libexec/omadora-battery-present
ExecStart=%h/.local/share/omadora/libexec/systemd/omadora-battery-monitor
LogLevelMax=warning
