[Unit]
Description=Omadora Battery Monitor Timer
PartOf=omadora-session.target

[Timer]
OnBootSec=15sec
OnUnitActiveSec=1min
AccuracySec=10sec

[Install]
WantedBy=omadora-session.target
