[Unit]
Description=Omadora Update Check Service
After=graphical-session.target network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/omadora/libexec/systemd/omadora-update-check

Nice=10
TimeoutStartSec=5m
