[Unit]
Description=Omadora Update Check Timer
PartOf=omadora-session.target
After=graphical-session.target

[Timer]
OnBootSec=15m
OnUnitActiveSec=6h
RandomizedDelaySec=30m
Persistent=true
