[Unit]
Description=Omadora Mako notification daemon
PartOf=omadora-session.target

[Service]
ExecStart=/usr/bin/mako
Restart=on-failure
RestartSec=1

[Install]
WantedBy=omadora-session.target
