[Unit]
Description=Omadora Battery Monitor Timer
PartOf=omadora-session.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=30s
RandomizedDelaySec=15s
