[Unit]
Description=Omadora Theme Reload Service
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/omadora/libexec/systemd/omadora-theme-reload
