[Unit]
Description=Omadora 1Password lock service
PartOf=omadora-session.target
ConditionFileIsExecutable=/usr/bin/1password

[Service]
Type=oneshot
ExecCondition=/usr/bin/pgrep -i 1password
ExecStart=/usr/bin/1password --lock
