[Unit]
Description=Omadora Session Target
PartOf=graphical-session.target
After=graphical-session.target xdg-desktop-portal.service

[Install]
WantedBy=graphical-session.target
