[Unit]
Description=Omadora battery monitor timer
PartOf=omadora-session.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec
RandomizedDelaySec=10sec

[Install]
WantedBy=omadora-session.target
