[Unit]
Description=Omadora Fcitx5 input service
PartOf=omadora-session.target

[Service]
ExecStart=/usr/bin/fcitx5
Restart=on-failure
RestartSec=2

[Install]
WantedBy=omadora-session.target
