[Unit]
Description=Omadora Update Check Timer
PartOf=omadora-session.target

[Timer]
OnBootSec=15min
OnCalendar=*-*-* 0/6:00
RandomizedDelaySec=30min
Persistent=true
