[Unit]
Description=Omadora update check
PartOf=omadora-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/omadora/libexec/omadora-update-check

Nice=10
IOSchedulingClass=best-effort
